<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./css/home/login.css">
</head>
<body>
    <div class="login-page">
        <div class="form">
          <!-- <form class="login-form"> -->
            <input id="id" type="text" placeholder="아이디"/>
            <input id="name" type="text" placeholder="이름"/>
            <input id="password" type="password" placeholder="비밀번호"/>
            <input id="confirm-password" type="password" placeholder="비밀번호 확인"/>
            <button id="loginBtn">SIGN UP</button>
            <p class="message">Already registered? <a href="/login">login</a></p>
          <!-- </form> -->
        </div>
      </div>
    <script src="/js/home/login.js" defer></script>
</body>
</html> 

<!-- Copyright (c) 2023 by Aigars Silkalns (https://codepen.io/colorlib/pen/rxddKy) -->